<p>Hi {{name}}!</p>
<p>Your account with email {{email}} has been inactive.</p>
<p>If you want to reactivate your account, please contact us via email or TravelBus homepage (0902188341) for support.</p>